body {
    background-color: white;
    font-family: 'Arial', sans-serif;
}

.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: right;
    background-color: white;
    color: white;
    padding: 10px;
}
.search-container {
    display: flex;
    align-items: center;
    border-top: 1px solid #29406a; 
    border-left: 1px solid #29406a; 
    border-bottom: 1px solid #29406a; 


    border-radius: 5px;
}

.search-input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-color: #d8c771;
    border-right: 1px solid #29406a;
    border-top-right-radius: 5px; /* Border radius for the top right corner */
    border-bottom-right-radius: 5px; /* Border radius for the bottom right corner */
}


.search-icon {
    width: 25px;
    height: 26px;
    fill: white;
    border-radius: 5px;
}

.topbar img {
    height: 150px;
    width: 300px;
}


    
.jumbotron-short-nav {
    margin-top: 50px;
    height: 100px;
    background-color: #29406a;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}



.jumbotron-tall {
    height: 600px;
    width: 100%;
    background-color: white;
    margin-top: 65px;
    display: flex;
}

.jumbotron-img-tall {
    width: 100%;
    height: 100%;
    object-fit: cover; /* or object-fit: contain; depending on your preference */
}
.jumbotron-tall2 {
    position: relative;
    height: 600px;
    display: flex;
}
.jumbotron-tall2 h1 {
    font-size: 56px; /* Adjust the font size for the h1 */

}
.jumbotron-tall2  p{
    font-size: 28px; /* Adjust the font size for the h1 */

}
.jumbotron-tall3 {
    height: 600px;
    width: 100%;
    background-color: white;
    margin-top: 65px;
    display: flex;
    position: relative;
}
.jumbotron-tall3 h1{
    font-size: 56px; /* Adjust the font size for the h1 */

}


.action-animation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    opacity: 0;
    animation: slideInUp 1s ease-in-out forwards;
    backdrop-filter: blur(20px); /* Adjust the blur value as needed */
    background-color: rgba(0, 0, 0, 0.25); /* Adjust the background color and opacity as needed */
    border-radius: 10px;
}
.action-animation h1 {
    color: white; /* Customize the color for the h1 */
    font-size: 56px; /* Adjust the font size for the h1 */
    margin-bottom: 10px; /* Add margin as needed */
}

.action-animation p {
    color: white; /* Customize the color for the p */
    font-size: 28px; /* Adjust the font size for the p */
    margin-bottom: 20px; /* Add margin as needed */

}

@keyframes slideInUp {
    to {
        top: 30%;;
        opacity: 1;
    }
}
.detail-container-parent {
    display: flex;
    justify-content: space-between; /* Equally space the child elements */
    padding-left: 100px;
    padding-right: 100px;

}

.detail-container {
    width: calc(30% - 10px); /* Adjust the width of each container with a margin of 10px */
    height: 300px;
    box-sizing: border-box;
    margin-right: 10px; /* Add margin between the child elements */
}
.side-by-side-image {
    width: 50%;
    height: auto; /* To maintain the aspect ratio */
}
.jumbotron-med {
    display: flex;
    flex-direction: column; /* Adjust if needed */
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: white;
}

.jumbotron-med p {
    margin: 0; /* Resetting default margin for <p> */
    text-align: center; /* Center the text horizontally */
    line-height: 1.5; /* Optionally adjust line-height for vertical centering */
}

h3{
    color: #d8c771;
}

h1{
    color: #29406a;
}

a {
    text-decoration: none;
    /* Additional styling if needed */
    color: #29406a; /* Set the desired text color */
    font-weight: bold; /* Set the desired font weight */
    /* Add any other styles as needed */
}
p{
    color:#29406a;
}
 
.floater-container {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);

}


.floater-container h1 {
    color: #29406a;
    font-size: 56px;
    margin-bottom: 10px;
}

.floater-container p {
    color: #29406a;
    font-size: 28px;
    margin-bottom: 20px;
}
.floater-container2 {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);

}
.floater-container3 {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);

}

.jumbotron-img-tall {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
